:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.toolbar__search {
  max-width: 520px;
}

.toolbar__sort-label {
  justify-self: end;
}

.toolbar__sort-button {
  justify-self: end;
}

.previews-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 415px);

  height: 100%;
  justify-content: center;
  margin: 15px;
  overflow-y: auto;
}
