:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.search {
  width: 520px;
}

.previews-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 415px);

  height: 100%;
  justify-content: center;
  margin: 15px;
  overflow-y: auto;
}
