:host {
  display: block;
}

.header {
  align-content: center;
  display: flex;

  height: 80px;
}

.image {
  display: block;

  height: 200px;

  object-fit: cover;
}

.content {
  height: 20px;
  margin-top: 20px;
}
