<header class="header">
  <mat-toolbar color="primary">
    <span class="title">ИПР</span>
    <nav class="navigation">
      <ul class="navigation__list">
        <li>
          <a class="navigation__link" [routerLink]="['/ships']" routerLinkActive="navigation__link--active">Корабли</a>
        </li>
        <li>
          <a class="navigation__link" [routerLink]="['/histories']" routerLinkActive="navigation__link--active"
            >Истории</a
          >
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
